


/* Cambia el color del texto en la tabla */
.table {
    color: #44d7eb;
    width: 70%;
    height: 70px;
    margin-left: 170px;
    margin-top: 35%;


}

/* Cambia el color de fondo de los encabezados de columna */
.th {
    background-color: #b0ceee; 
    color: rgb(18, 98, 189); 
    height: 30px;
}