.main-body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
.main-form {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.form-label {
    font-weight: bold;
}
.form-field {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.form-textarea {
    width: 60%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    resize: vertical;

    margin-left: 160px;
}
.form-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;

    margin-left: 160px;
}
.form-button:hover {
    background-color: #45a049;
}

.column {
    float: left; 
    width: 30%; 
    padding: 20px; 
    box-sizing: border-box; 
    margin-left: 150px;
    
}
.column-a {
    
    float: right;
    width: 30%; 
    padding: 20px; 
    box-sizing: border-box;
}

